html,
body {
  margin: 0;
  background-color: $secondaryBgColor;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p {
  margin: 0;
}

//Typography
h1 {
  font-family: $font-face-secondary;
  font-weight: $bold;
  font-size: 24px;
  line-height: $defaultLineHeight;
  color: $textColor;
  margin: 0;
}

h2 {
  font-family: $font-face-secondary;
  font-weight: $semi-bold;
  font-size: 30px;
  line-height: $defaultLineHeight;
  color: $textColor;
  margin: 0;
}

h3 {
  font-family: $font-face-secondary;
  font-weight: $semi-bold;
  font-size: 20px;
  line-height: $defaultLineHeight;
  color: $textColor;
  margin: 0;
}

h4 {
  font-family: $font-face-secondary;
  font-weight: $semi-bold;
  font-size: 15px;
  line-height: $defaultLineHeight;
  color: $textColor;
  margin: 0;
}

.item {
  font-family: $font-face-secondary;
  font-weight: $medium;
  font-size: 15px;
  line-height: $defaultLineHeight;
  color: $hintColor;
}

.link {
  font-family: $font-face-secondary;
  font-weight: $medium;
  font-size: 15px;
  line-height: $defaultLineHeight;
  color: $linkColor;
}

button {
  border: none;
  cursor: pointer;
  background-color: $buttonColor;
  border-radius: $defaultBorderRadius;
  width: 100%;
  margin: 0 auto;

  p {
    font-family: $font-face-secondary;
    font-weight: $medium;
    font-size: 17px;
    line-height: $defaultLineHeight;
    color: $buttonTextColor;
    padding: 20px 0;
  }
}

.textMedium {
  font-family: $font-face-secondary;
  font-weight: $regular;
  font-size: 15px;
  line-height: $defaultLineHeight;
  color: $textColor;
}

.textSmall {
  font-family: $font-face-secondary;
  font-weight: $medium;
  font-size: 13px;
  line-height: $defaultLineHeight;
  color: $textColor;
}

.caption {
  font-family: $font-face-secondary;
  font-weight: $regular;
  font-size: 13px;
  line-height: $defaultLineHeight;
  color: $textColor;
}
