//Telegram color variables
$bgColor: var(--tg-theme-bg-color);
$textColor: var(--tg-theme-text-color);
$hintColor: var(--tg-theme-hint-color);
$linkColor: var(--tg-theme-link-color);
$buttonColor: var(--tg-theme-button-color);
$buttonTextColor: var(--tg-theme-button-text-color);
$secondaryBgColor: var(--tg-theme-secondary-bg-color);

//Fonts
$font-face-primary: 'Montserrat', sans-serif;
$font-face-secondary: 'Inter', sans-serif;

//Font weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Default line height
$defaultLineHeight: 20px;

//Default border radius
$defaultBorderRadius: 10px;

//Resolutions
$mobile: 440px;
$largeMobile: 520px;
$smallTablet: 600px;
$tablet: 720px;
$largeTablet: 890px;
$smallDesktop: 1024px;
$desktop: 1240px;

//Animation period
$animationPeriod: 0.4s;

//Font sizes
$labelFontSize: 13px;
$labelLineHeight: 16px;

$smallParagraphFontSize: 15px;
$smallParagraphLineHeight: 18px;
$mediumParagraphFontSize: 18px;
$mediumParagraphLineHeight: 22px;
$largeParagraphFontSize: 22px;
$largeParagraphLineHeight: 27px;

$mediumHeadingFontSize: 60px;
$mediumHeadingLineHeight: 68px;

$smallTitle: 30px;
$mediumTitle: 40px;
$bigTitle: 50px
